<!-- Footer -->
<footer>
	<div class="boxed-footer">
		<h3 style="margin-bottom:25px;">Inscris-toi pour rester au courant<br/> des nouveaux cours</h3>
<div id="mc	">
<form action="http://boredandbrilliant.us11.list-manage.com/subscribe/post?u=4164d4c023a2cbe76177a86ff&amp;id=bb047c9e04" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
	<input type="email" value="email@example.co" name="EMAIL" placeholder="" style="padding:10px; font-family:'Open Sans', sans-serif;" required>
	<input type="submit" value="S'INSCRIRE" name="subscribe" class="btn" style="background-color: #F9EC27; margin-top:-4px;color:#0F1E41; font-family: 'Open Sans', 'Helvetica Neue', sans-serif; ">
</form>
</div>
	</div>
    <div class="row">
     <p class="copyright text-muted">{{ site.title }} {{ site.time | date: '%Y' }}</p>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>
