<!-- Footer -->
<footer>
	<div class="boxed-footer">
		<h3 style="margin-bottom:25px;">Inscris-toi pour rester au courant<br/> des nouveaux cours</h3>
<div id="mc	">
<form action="http://boredandbrilliant.us11.list-manage.com/subscribe/post?u=4164d4c023a2cbe76177a86ff&amp;id=bb047c9e04" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder=" email@example.co " required>
	<input type="submit" value="S'INSCRIRE" name="subscribe" id="mc-embedded-subscribe" style="padding:5px;background-color: white; color:#0F1E41; font-family: 'Open Sans', 'Helvetica Neue', sans-serif; ">
</form>
</div>
	</div>
    <div class="row">
     <p class="copyright text-muted">{{ site.title }} {{ site.time | date: '%Y' }}</p>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>
