---
layout: default
---

<!-- Post Header -->
    <div class="container">
        <div class="row">
            <ul class="pager">
              <li class="previous"><a href="{{ site.baseurl }}/"> &larr; Back to Chapters</a></li>
              {% if page.next.url %}
                <li class="next"><a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/'}}">Complete & continue &rarr;</a></li>
              {% else %}
                <li class="next"><a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/'}}">Take the final test &rarr;</a></li>
              {% endif %}
            </ul>
            <iframe width="100%" src="{{ page.video }}" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
          <h1>{{ page.title }}</h1>
          {% if page.subtitle %}
          <h2 class="subheading">{{ page.subtitle }}</h2>
          {% endif %}

				  {{ content }}

          <ul class="pager">
              {% if page.next.url %}
                <li class="next">
                    <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}">Complete & continue &rarr;</a>
                </li>
              {% else %}
                <li class="next">
                    <a href="{{ site.baseurl }}/">Take the Final Test &rarr;</a>
                </li>
              {% endif %}
          </ul>

        </div>
    </div>
</article>


e
