---
layout: default
---

<!-- Post Header -->
    <div class="container">
        <div class="row">
            <ul class="pager">
              <li class="previous"><a href="{{ site.baseurl }}/"> &larr; Back to Chapters</a></li>
              {% if page.next.url %}
                <li class="next"><a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/'}}">Complete & continue &rarr;</a></li>
              {% else %}
                <li class="next"><a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/'}}">Take the final test &rarr;</a></li>
              {% endif %}
            </ul>
            <iframe width="100%" src="{{ page.video }}" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-8">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
              <h2 class="subheading">{{ page.subtitle }}</h2>
            {% endif %}
          </div>
          <div class="col-xs-6 col-md-4">
            <ul class="pager" style="margin-top:5%;">
                {% if page.next.url %}
                  <li class="next">
                      <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}">Complete & continue &rarr;</a>
                  </li>
                {% else %}
                  <li class="next">
                      <a href="{{ site.baseurl }}/">Take the Final Test &rarr;</a>
                  </li>
                {% endif %}
              </ul>
            </div>

				  {{ content }}

        </div>
    </div>
</article>
